<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>
        $(function () {
            $('#word').keyup(function() {
                $.ajax({
                    url: '/getdata',
                    type: 'get',
                    dataType: 'json',
                    success:function (data) {
                        alert(data['name']);
                        console.log(data['name'])
                        $('#txt').html(data["name"])
                    },
                    error:function (data) {
                        console.log(data)
                    }
                })

                })
            })
                
    </script>
</head>

<body>
    <input type="text" name="" id="word">
    <ul class="list"></ul>
    <p id="txt"></p>
</body>

</html>
